.note, .do, .solution {
    padding-left: 1em;
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin: 1ex auto;
    position: relative;
    background-color: rgba(238,232,213, .25);
    border-left-style: solid;
    border-left-width: thick;
}

.note {
    border-left-color:  #3498DB;
} 
    
.do {
    background-color: unset;
    border-left-color:  #18BC9C;
}   
    
.solution {
    border-left-color: #268bd2;
    margin-bottom: 2ex;
}

details > summary {
    padding-bottom: 1ex;
    color: grey;
    text-decoration: underline;
}

details > summary::marker {
    color: #268bd2;
}

.tag span.note, .tag span.do, .tag span.solution {
    padding-left: 5ex;
}

.note:before, .do:before, .solution:before {
    display: block;
    /* position: absolute; */
    /* left: 1ex; */
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

.note:before {
    content: "👩🏾‍🔬";
    font-size: 1.3em;
    background: #3498DB;
}

.do:before {
    content: "?";
    background:  #18BC9C;
}

.solution:before {
    content: "✔";
    background: #268bd2;
}
