@import 'fonts.css';

html {
    font-family: "Fira Sans", sans-serif;
    line-height: 1.35;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

@media all {html {font-size: 16px;}}
@media all and (max-width:940px){html {font-size: 15px;}}
@media all and (max-width:850px){html {font-size: 14px;}}
@media all and (max-width:830px){html {font-size: 13px;}}
@media all and (max-width:740px){html {font-size: 12px;}}

body {
    margin: 8px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block
}
audio:not([controls]) {
    display: none;
    height: 0
}
progress {
    vertical-align: baseline
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}
a:active,
a:hover {
    outline-width: 0
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}
b,
strong {
    font-weight: inherit;
    font-weight: bolder
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
mark {
    background-color: #ff0;
    color: #000
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sub {
    bottom: -.25em
}
sup {
    top: -.5em
}
img {
    border-style: none
}
svg:not(:root) {
    overflow: hidden
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
figure {
    margin: 1em 40px
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}
button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0
}
optgroup {
    font-weight: 700
}
button,
input {
    overflow: visible
}
button,
select {
    text-transform: none
}
[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}
textarea {
    overflow: auto
}
[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}
.org-bold {
    font-weight: 700
}
.org-bold-italic {
    font-weight: 700;
    font-style: italic
}
.org-buffer-menu-buffer {
    font-weight: 700
}
.org-builtin {
    color: #483d8b
}
.org-button {
    color: #3a5fcd;
    text-decoration: underline
}
.org-calendar-month-header {
    color: #00f
}
.org-calendar-today {
    text-decoration: underline
}
.org-calendar-weekday-header {
    color: #008b8b
}
.org-calendar-weekend-header {
    color: #b22222
}
.org-comint-highlight-input {
    font-weight: 700
}
.org-comint-highlight-prompt {
    color: #0000cd
}
.org-comment,
.org-comment-delimiter {
    color: #b22222
}
.org-constant {
    color: #008b8b
}
.org-diary {
    color: red
}
.org-doc {
    color: #8b2252
}
.org-error {
    color: red;
    font-weight: 700
}
.org-escape-glyph {
    color: brown
}
.org-file-name-shadow {
    color: #7f7f7f
}
.org-fringe {
    background-color: #f2f2f2
}
.org-function-name {
    color: #00f
}
.org-glyphless-char {
    font-size: 60%
}
.org-header-line {
    color: #333;
    background-color: #e5e5e5
}
.org-help-argument-name {
    font-style: italic
}
.org-highlight {
    background-color: #b4eeb4
}
.org-holiday {
    background-color: pink
}
.org-info-header-node {
    color: brown;
    font-weight: 700;
    font-style: italic
}
.org-info-header-xref {
    color: #3a5fcd;
    text-decoration: underline
}
.org-info-index-match {
    background-color: #ff0
}
.org-info-menu-header {
    font-weight: 700
}
.org-info-menu-star {
    color: red
}
.org-info-node {
    color: brown;
    font-weight: 700;
    font-style: italic
}
.org-info-title-1 {
    font-size: 172%;
    font-weight: 700
}
.org-info-title-2 {
    font-size: 144%;
    font-weight: 700
}
.org-info-title-3 {
    font-size: 120%;
    font-weight: 700
}
.org-info-title-4 {
    font-weight: 700
}
.org-info-xref {
    color: #3a5fcd;
    text-decoration: underline
}
.org-italic {
    font-style: italic
}
.org-keyword {
    color: #a020f0
}
.org-lazy-highlight {
    background-color: #afeeee
}
.org-link {
    color: #3a5fcd;
    text-decoration: underline
}
.org-link-visited {
    color: #8b008b;
    text-decoration: underline
}
.org-makefile-makepp-perl {
    background-color: #bfefff
}
.org-makefile-space {
    background-color: #ff69b4
}
.org-makefile-targets {
    color: #00f
}
.org-match {
    background-color: #ff0
}
.org-next-error {
    background-color: gtk_selection_bg_color
}
.org-nobreak-space {
    color: brown;
    text-decoration: underline
}
.org-org-agenda-calendar-event,
.org-org-agenda-calendar-sexp {
    color: #000;
    background-color: #fff
}
.org-org-agenda-clocking {
    background-color: #ff0
}
.org-org-agenda-column-dateline {
    background-color: #e5e5e5
}
.org-org-agenda-current-time {
    color: #b8860b
}
.org-org-agenda-date {
    color: #00f
}
.org-org-agenda-date-today {
    color: #00f;
    font-weight: 700;
    font-style: italic
}
.org-org-agenda-date-weekend {
    color: #00f;
    font-weight: 700
}
.org-org-agenda-diary {
    color: #000;
    background-color: #fff
}
.org-org-agenda-dimmed-todo {
    color: #7f7f7f
}
.org-org-agenda-done {
    color: #228b22
}
.org-org-agenda-filter-category,
.org-org-agenda-filter-effort,
.org-org-agenda-filter-regexp,
.org-org-agenda-filter-tags {
    color: #000;
    background-color: #bfbfbf
}
.org-org-agenda-restriction-lock {
    background-color: #eee
}
.org-org-agenda-structure {
    color: #00f
}
.org-org-archived,
.org-org-block {
    color: #7f7f7f
}
.org-org-block-begin-line,
.org-org-block-end-line {
    color: #b22222
}
.org-org-checkbox {
    font-weight: 700
}
.org-org-checkbox-statistics-done {
    color: #228b22;
    font-weight: 700
}
.org-org-checkbox-statistics-todo {
    color: red;
    font-weight: 700
}
.org-org-clock-overlay {
    color: #000;
    background-color: #d3d3d3
}
.org-org-code {
    color: #7f7f7f
}
.org-org-column,
.org-org-column-title {
    background-color: #e5e5e5
}
.org-org-column-title {
    font-weight: 700;
    text-decoration: underline
}
.org-org-date {
    color: #a020f0;
    text-decoration: underline
}
.org-org-date-selected {
    color: red
}
.org-org-default {
    color: #000;
    background-color: #fff
}
.org-org-document-info {
    color: #191970
}
.org-org-document-info-keyword {
    color: #7f7f7f
}
.org-org-document-title {
    color: #191970;
    font-weight: 700
}
.org-org-done {
    color: #228b22;
    font-weight: 700
}
.org-org-drawer {
    color: #00f
}
.org-org-ellipsis {
    color: #b8860b;
    text-decoration: underline
}
.org-org-footnote {
    color: #a020f0;
    text-decoration: underline
}
.org-org-formula {
    color: #b22222
}
.org-org-headline-done {
    color: #bc8f8f
}
.org-org-hide {
    color: #fff
}
.org-org-latex-and-related {
    color: #8b4513
}
.org-org-level-1 {
    color: #00f
}
.org-org-level-2 {
    color:  #18BC9C
}
.org-org-level-3 {
    color: #a020f0
}
.org-org-level-4 {
    color: #b22222
}
.org-org-level-5 {
    color: #228b22
}
.org-org-level-6 {
    color: #008b8b
}
.org-org-level-7 {
    color: #483d8b
}
.org-org-level-8 {
    color: #8b2252
}
.org-org-link {
    color: #3a5fcd;
    text-decoration: underline
}
.org-org-list-dt {
    font-weight: 700
}
.org-org-macro {
    color:  #18BC9C
}
.org-org-meta-line {
    color: #b22222
}
.org-org-mode-line-clock {
    color: #000;
    background-color: #bfbfbf
}
.org-org-mode-line-clock-overrun {
    color: #000;
    background-color: red
}
.org-org-priority {
    color: #a020f0
}
.org-org-quote {
    color: #7f7f7f
}
.org-org-scheduled {
    color: #006400
}
.org-org-scheduled-previously {
    color: #b22222
}
.org-org-scheduled-today {
    color: #006400
}
.org-org-sexp-date,
.org-org-special-keyword {
    color: #a020f0
}
.org-org-table {
    color: #00f
}
.org-org-tag,
.org-org-tag-group {
    font-weight: 700
}
.org-org-target {
    text-decoration: underline
}
.org-org-time-grid {
    color: #b8860b
}
.org-org-todo {
    color: red;
    font-weight: 700
}
.org-org-upcoming-deadline {
    color: #b22222
}
.org-org-verbatim,
.org-org-verse {
    color: #7f7f7f
}
.org-org-warning {
    color: red;
    font-weight: 700
}
.org-outline-1 {
    color: #00f
}
.org-outline-2 {
    color:  #18BC9C
}
.org-outline-3 {
    color: #a020f0
}
.org-outline-4 {
    color: #b22222
}
.org-outline-5 {
    color: #228b22
}
.org-outline-6 {
    color: #008b8b
}
.org-outline-7 {
    color: #483d8b
}
.org-outline-8 {
    color: #8b2252
}
.org-preprocessor {
    color: #483d8b
}
.org-regexp-grouping-backslash,
.org-regexp-grouping-construct {
    font-weight: 700
}
h1.org-ref-bib-h1 {
    display: none;
}
a.org-ref-reference:before {
    content: "[";
    color: #333;
}
a.org-ref-reference:after {
    content: "]";
    color: #333;
}
.org-region {
    background-color: gtk_selection_bg_color
}
.org-secondary-selection {
    background-color: #ff0
}
.org-shadow {
    color: #7f7f7f
}
.org-show-paren-match {
    background-color: #40e0d0
}
.org-show-paren-mismatch {
    color: #fff;
    background-color: #a020f0
}
.org-string {
    color: #8b2252
}
.org-success {
    color: #228b22;
    font-weight: 700
}
.org-table-cell {
    color: #e5e5e5;
    background-color: #00f
}
.org-tooltip {
    color: #000;
    background-color: #ffffe0
}
.org-trailing-whitespace {
    background-color: red
}
.org-type {
    color: #228b22
}
.org-underline {
    text-decoration: underline
}
.org-variable-name {
    color:  #18BC9C
}
.org-warning {
    color: #ff8c00;
    font-weight: 700
}
.org-warning-1 {
    color: red;
    font-weight: 700
}
body {
    color: #333;
}

#content, #postamble {
    max-width: 740px;
}

aside {
    float: right;
    font-size: 0.8em;
    line-height: 1.3;
    max-width: 250px;
    margin-bottom: 1em;
    margin-left: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2.5px;
    background-color: rgba(238,232,213, .5);
}

aside blockquote {
    margin-top: 0;
    margin-left: 0;
}

/* For screen smaller than iphone5 */
@media screen and (max-width: 567px) {
    aside {
        float: none;
    }
}

::-moz-selection {
	  background: #FF5E99;
	  color: #fff;
	  text-shadow: none;
}
::selection {
	  background: #FF5E99;
	  color: #fff;
	  text-shadow: none;
}
.title {
    margin: auto;
    color: #000;
    line-height: 1.15em;
}
.subtitle,
.title {
    text-align: center
}
.subtitle {
    font-size: medium;
    font-weight: 700;
    margin-top: 1em;
}
.abstract {
    margin: auto;
    width: 85%;
    font-style: italic
}
.abstract i {
    font-style: normal;
    font-weight: 300;
}
.abstract p:last-of-type:before {
    content: "    ";
    white-space: pre
}
.status {
    font-size: 0.8rem;
}
[class^=section-number-] {
    margin-right: .5em
}
[id^=orgheadline] {
    clear: both
}
#footnotes {
    font-size: 0.8rem;
}
.footpara {
    display: inline;
    margin: .2em auto
}
.footdef {
    margin-bottom: 1em
}
.footdef sup {
    padding-right: .5em
}
a {
    color: #527d9a;
    text-decoration: none
}
a:hover {
    color: #035;
    border-bottom: 1px dotted
}
figure {
    padding: 0;
    margin: 1em 0;
    text-align: center
}
figcaption {
    padding-top: 5px;
}
figcaption > .subcaption {
    font-size: 0.7rem;
    text-align: left;
}
img {
    max-width: 100%;
    vertical-align: middle
}
.MathJax_Display {
    font-size: 90%;
    margin: 0!important;
    width: 90%!important
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color:  #18BC9C;
    line-height: 1.6em;
    font-weight: bold;
    font-family: 'Crimson Text', serif
}
h4,
h5,
h6 {
    font-size: 1em
}
dt {
    font-weight: 700
}
table {
    margin: auto;
    border-top: 2px solid;
    border-collapse: collapse
}
table,
thead {
    border-bottom: 2px solid
}
table td+td,
table th+th {
    border-left: 1px solid gray
}
table tr {
    border-top: 1px solid #d3d3d3
}
td,
th {
    padding: 5px 10px;
    vertical-align: middle
}
caption.t-above {
    caption-side: top
}
caption.t-bottom {
    caption-side: bottom
}
th.org-center,
th.org-left,
th.org-right {
    text-align: center
}
td.org-right {
    text-align: right
}
td.org-left {
    text-align: left
}
td.org-center {
    text-align: center
}
code {
    padding: 2px 5px;
    margin: auto 1px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: 80%
}
blockquote {
    margin: 1em 2em;
    padding-left: 1em;
    border-left: 3px solid #ccc
}
kbd {
    background-color: #f7f7f7;
    font-size: 80%;
    margin: 0 .1em;
    padding: .1em .6em
}
.todo {
    background-color: red;
    padding: 2px
}
.done,
.todo {
    color: #fff;
    border-radius: 3px;
    background-clip: padding-box;
    font-size: 80%;
    font-family: Lucida Console, monospace
}
.done {
    background-color: green;
    padding: 3px
}
.priority {
    color: orange;
    font-family: Lucida Console, monospace
}
#table-of-contents a {
    color: #333;
}
#text-table-of-contents > ul {
    padding-left: 20px;
}
#table-of-contents li {
    clear: both;
    margin-top: 0.2rem;
}
.tag {
    font-family: Lucida Console, monospace;
    font-size: 70%;
    font-weight: 400
}
.tag span {
    padding: 0 5px;
    float: right;
    margin-right: 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
    background-clip: padding-box;
    color: #333;
    background-color: #eee;
    line-height: 1.6
}
.timestamp {
    color: #bebebe;
    font-size: 90%
}
.timestamp-kwd {
    color: #5f9ea0
}
.org-right {
    margin-left: auto;
    margin-right: 0;
    text-align: right
}
.org-left {
    margin-left: 0;
    margin-right: auto;
    text-align: left
}
.org-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.underline {
    text-decoration: underline
}
#postamble p,
#preamble p {
    font-size: 90%;
    margin: .2em
}
p.verse {
    margin-left: 3%
}
pre {
    border: none;
    border-radius: 2.5px;
    font-family: Iosevka, monospace;
    margin: 1.2em;
    padding: 8pt;
    font-size: 0.85em;
    background:  #3f3f3f;
    color: #dcdccc;
}
pre.src {
    overflow: auto;
    padding-top: 1.2em;
    position: relative;
    line-height: 1.3em;
}
pre.src:hover:before {
    display: inline
}
pre.src-sh:before {
    content: "sh"
}
pre.src-bash:before {
    content: "bash"
}
pre.src-emacs-lisp:before {
    content: "Emacs Lisp"
}
pre.src-R:before {
    content: "R"
}
pre.src-org:before {
    content: "Org"
}
pre.src-cpp:before {
    content: "C++"
}
pre.src-c:before {
    content: "C"
}
pre.src-html:before {
    content: "HTML"
}
pre.src-javascript:before,
pre.src-js:before {
    content: "Javascript"
}
pre.src-makefile:before {
    content: "Makefile"
}
.inlinetask {
    background: #ffc;
    border: 2px solid gray;
    margin: 10px;
    padding: 10px
}
#org-div-home-and-up {
    font-size: 70%;
    text-align: right;
    white-space: nowrap
}
.linenr {
    font-size: 90%
}
.code-highlighted {
    color: #FFFFE0;
    background-color: #284F28;
}
#bibliography {
    font-size: 90%
}
#bibliography table {
    width: 100%
}
.creator {
    display: block
}
@media (min-width: 769px) {
    .creator {
        display: inline;
        float: right
    }
}

.org-src-container > label {
    font-size: 75%;
}

.note, .do, .solution {
    padding-left: 1em;
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin: 1ex auto;
    position: relative;
    background-color: rgba(238,232,213, .25);
    border-left-style: solid;
    border-left-width: thick;
}

.note {
    border-left-color:  #3498DB;
}

.do {
    background-color: unset;
    border-left-color:  #18BC9C;
}

.solution {
    border-left-color: #268bd2;
}

.tag span.note, .tag span.do, .tag span.solution {
    padding-left: 5ex;
}

.note:before, .do:before, .solution:before {
    display: block;
    /* position: absolute; */
    /* left: 1ex; */
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

.note:before {
    content: "👩🏾‍🔬";
    font-size: 1.3em;
    background: #3498DB;
}

.do:before {
    content: "?";
    background:  #18BC9C;
}

.solution:before {
    content: "✔";
    background: #268bd2;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
    h1,h2,h3 {
        line-height: 1.4em;
    }
    h4,h5,h6 {
        font-size: 1.1em;
    }
}
